#appData
appData/database/
appData/superset/assets/
appData/tailscale/

# Sauvegardes
backups/

# Fichiers de configuration sensibles
.env
docker-compose.override.yml

# Fichiers système
*.DS_Store
.idea/